[HELP] HTTP Proxy - Host CaSe seNsitiVe?

Hello,

if the hostname in “Reverse Proxy / HTTP Proxy” contains capital letters, the proxy redirection does not work, I get “Error 404 Target Host Not Found”.
I have tested with:
SIO-APPP.domain.com => does not work,
but if I add an alias with lower case letters, e.g.
sio-appp.domain.com => then it works

My question: is this “by design” or is this a bug?

Thank you very much!
![test-zoraxy](https://github.com/user-attachments/assets/c1973779-98dc-4fca-ab77-ac86c20ebb54)



YEs, THIs iS A bUG (somehow)

Technically there are no limitations or standards that limits the host case-sensitivity in reverse proxy, but after some research I think we shd stick with what the DNS standard ([RFC 3986 § 3.2.2](https://www.rfc-editor.org/rfc/rfc3986#section-3.2.2)) is, which is by design, case insensitive. 

Thank You!